##
## SSL settings
##

ssl = required

ssl_cert = <{{ mailserver_ssl_path_cert }}
ssl_key = <{{ mailserver_ssl_path_key }}

#ssl_client_ca_dir = /etc/ssl/certs
#ssl_client_ca_file = {{ mailserver_ssl_path_ca }}
